mat-card{
    margin-top: 10px;
    margin-bottom: 10px;
}
.left{
    width: 80%;
    margin-right: auto;
}

.left mat-card-footer{
    padding-left: 80%;
}

.right{
    width: 75%;
    margin-left: auto;
    margin-right: 20px;
}

.right mat-card-footer{
    padding-left: 75%;
}