<span class='newestate-label'>
    <h1>Add new estate</h1>
</span>
<div layout="column" class = "newestate-form">
    <div flex>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <textarea matInput required [(ngModel)]="name"></textarea>
            <mat-hint class="error-msg">{{nameErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-form-field appearance="fill">
            <mat-label>Estate Description</mat-label>
            <textarea matInput required [(ngModel)]="description"></textarea>
            <mat-hint class="error-msg">{{descriptionErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <input matInput required [(ngModel)]="country">
            <mat-hint class="error-msg">{{countryErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput required [(ngModel)]="city">
            <mat-hint class="error-msg">{{cityErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput required [(ngModel)]="address">
            <mat-hint class="error-msg">{{addressErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-label>Chose estate type</mat-label>
        <mat-radio-group aria-label="Select an option" [selected]="initialRB">
            <mat-radio-button value="house" (change)="setIsHouse(true)" #initialRB>House</mat-radio-button>
            <mat-radio-button value="flat" (change)="setIsHouse(false)">Flat</mat-radio-button>
        </mat-radio-group>
    </div>
    <div flex *ngIf="!isHouse">
        <mat-form-field appearance="fill">
            <mat-label>Floor of apartment</mat-label>
            <input matInput required type="number" [(ngModel)] = "flatFloor">
            <mat-hint class="error-msg">{{flatFloorErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-form-field appearance="fill">
            <mat-label>Area</mat-label>
            <input matInput required type="number" [(ngModel)]="area">
            <mat-hint class="error-msg">{{areaErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-form-field appearance="fill">
            <mat-label>Number of floors</mat-label>
            <input matInput required type="number" [(ngModel)]="numOfFloors">
            <mat-hint class="error-msg">{{numOfFloorsErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-form-field appearance="fill">
            <mat-label>Number of Rooms</mat-label>
            <input matInput required type="number" [(ngModel)]="numOfRooms">
            <mat-hint class="error-msg">{{numOfRoomsErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-radio-group aria-label="Select an option" [selected]="initialFRB">
            <mat-radio-button value="furnished" (change)="setFurnished(true)" #initialFRB>Furnished</mat-radio-button>
            <mat-radio-button value="notfurnished" (change)="setFurnished(false)" >Not furnished</mat-radio-button>
        </mat-radio-group>
    </div>
    <div flex *ngFor="let f of selectedFiles; let i = index;">
        <mat-form-field class="columns">
            <mat-label>{{f.item(0).name}}</mat-label>
            <input matInput disabled>
            <button mat-fab matSuffix (click)="removeFile(f)" color="warn">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div flex>
        <mat-form-field class="columns">
            <mat-label>Choose file</mat-label>
            <input matInput disabled>
            <button mat-fab matSuffix (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <input hidden (change)="selectFile($event)" #fileInput type="file" id="file" accept="image/x-png,image/jpeg">
            <mat-hint class="error-msg" class='error-msg'>{{fileSelectErrMsg}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <mat-radio-group aria-label="Select an option" [selected]="initialSRB" #forSaleRent>
            <mat-radio-button value="sale" (change)="setForSale(true)" #initialSRB>For sale</mat-radio-button>
            <mat-radio-button value="rent"(change)="setForSale(false)">For rent</mat-radio-button>
        </mat-radio-group>
    </div>
    <div flex>
        <mat-form-field appearance="fill">
            <mat-label >Price</mat-label>
            <input matInput required type="number" [(ngModel)]="price">
            <mat-hint class="error-msg">{{priceErr}}</mat-hint>
        </mat-form-field>
    </div>
    <div flex>
        <button mat-raised-button color="accent" (click)="submit()">Submit</button>
    </div>
</div>
