<div class="users">
    <div *ngFor="let u of users" class="single">
        <div class="card">
            <div class="card-header">
                <h3>{{u.user.username}}</h3>
            </div>
            <img *ngIf="u.imgUrl" [src]='u.imgUrl' alt="Photo of User">
            <img *ngIf="!u.imgUrl" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <div class="container">
                <div class="info-line">Name: {{u.user.name}}</div>
                <br>
                <div class="info-line">Surname: {{u.user.surname}} </div>
                <br>
                <button mat-raised-button color="accent" (click)="accept(u)">Accept</button>
                <button mat-raised-button color="warn" (click)="reject(u)">Reject</button>
            </div>
        </div>
    </div>
</div>