.search-bar {
    margin:auto;
    width: 80vw;
    justify-content: center;
    display: flex;
}

.search-bar mat-form-field{
    padding: 10px;
}

.search-bar button {
    padding: 10px;
}

.error-msg{
    color: red;
}

.search-promoted > * {
    z-index: 0;
}

.search-results {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.search-result{
    width: 300px;
}

.search-promoted {
    cursor: pointer !important;
}

.charts{
    background-color: white;
    margin-right: 18px;
}