<div *ngIf="isLoaded">
    <h1>{{estate.name}}</h1>
    <carousel [objectFit]="'cover'" [cellWidth]="'100%'" [autoplay]="true" [dots]="true">
        <div *ngFor="let img of imgUrls" class="carousel-cell">
            <img [src]="img" alt="Photo of estate">
        </div>
    </carousel>
    <h2> Owner: {{estate.ownedByAgency?'Houses and stuff':estate.owner}} </h2>
    <button *ngIf="user.userType !== 'regular'" mat-raised-button color="primary" (click)="promote()">{{!estate.isPromoted?'Promote':'Unpromote'}}</button>
    <button *ngIf="canContact" mat-raised-button color="accent" (click)="gotoContact()">Contact us</button>
    <br>
    <br>
    <div *ngIf="estate.isForSale; else rent">
        <h2>Buy estate</h2>
        <mat-slide-toggle [(ngModel)]="loan">Take out a loan</mat-slide-toggle>
        <h2>Price: {{estate.price}}</h2>
        <h2 *ngIf="loan">Pay in advance: {{estate.price*0.2}}</h2>
    </div>
    <ng-template #rent>
        <h2>Rent estate</h2>
        <h2>Price: {{estate.price}} /per month</h2>
    </ng-template>
    <br>
    <h2>Description</h2>
    <p>{{estate.description}}</p>
    <br>
    <h2>General Information</h2>
    <h4>Country: {{estate.country}}</h4>
    <h4>City: {{estate.city}}</h4>
    <h4>Address: {{estate.address}}</h4>
    <h4>Type: {{estate.isHouse?'House':'Flat'}}</h4>
    <h4>Area: {{estate.area}}</h4>
    <h4 *ngIf="true">Floor of apartment: {{estate.floorOfAparment}}</h4>
    <h4>Number of floors: {{estate.numberOfFloors}}</h4>
    <h4>Number of rooms: {{estate.numberOfRooms}}</h4>
</div>