.toolbar {
    position: fixed;
    top: 0;
    height: fit-content;
}

.toolbar-items{
    width: 100%;
    text-align: right;
}

.toolbar-items div{
    width: 100%;
    text-align: right;
}

.logo{
    height: 9vh;
}

.sidenav-cont {
  height: 100%;
}

.sidenav {
  width: 20vw;
}

.close-sidenav {
    width: 100%;
}

.mat-toolbar.mat-primary {
  z-index: 1;
  top: 0;
  position: sticky;
}
.mat-toolbar-row{
    height:fit-content; 
}

.active-list-item{
  background-color: #673AB7;
}


.xng-breadcrumb-root {
    padding: 4px 16px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    color: white;
  }
  
.padabit{
    padding-left: 20px;
}