<span class='settings-label'>
    <h1>Change password</h1>
</span>
<div class='settings-form' layout='column'>
    <div flex layout='column'>
        <div flex>
            <mat-form-field appearance="fill">
                <mat-label>Old Password</mat-label>
                <input matInput required type="password" [(ngModel)]="password">
                <mat-hint class="err-msg">{{passwordErr}}</mat-hint>
            </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput required type="password" [(ngModel)]="newpassword">
                <mat-hint class="err-msg">{{newpasswordErr}}</mat-hint>
            </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Confirm New Password</mat-label>
                <input matInput required type="password" [(ngModel)]="confirmPass">
                <mat-hint class="err-msg">{{confirmPassErr}}</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="accent" (click)="submit()">Submit</button>
        </div>
        <br>
    </div>
</div>