.settings-form{
    size: 100%;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

.settings-label{
    justify-content: center;
    display: flex;
    margin-top: 5%;
}
.validation {
    justify-content: center;
    display: flex;
}

.validation > * {
    background-color: #f44336;;
}

.err-msg {
    color: red;
}
